html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-size: 1.8rem;
}

.Table-button{
  display: flex;
  justify-content: space-between;
  width: 11%;
  margin-bottom: 0.5rem;
}