.Exercise-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
.Exercise-table{
    margin: 0.3rem 0;
}
.Exercise-button{
    display: flex;
    justify-content: space-between;
    width: 14%;
    margin: 0 auto;
}

@media screen and (max-width: 1400px){
    .Exercise-button{
        justify-content: center;
        width: 50%;
    }
}
@media screen and (max-width: 560px) {
    .Exercise-button{
        width: 100%;
    }
    
}