.Exercise-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
.Exercise-table{
    margin: 0.3rem 0;
}
.Exercise-button{
    display: flex;
    justify-content: space-between;
    width: 14%;
}
@media screen and (max-width: 1024px){
    .Exercise-button{
        width: 35%;
    }
}
@media screen and (max-width: 640px){
    .Exercise-button{
        width: 40%;
    }
}
@media screen and (max-width: 480px){
    .Exercise-button{
        width: 75%;
    }
}