.Exercise-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
.Exercise-table{
    margin: 0.3rem 0;
}
.Exercise-button{
    display: flex;
    justify-content: space-between;
    width: 14%;
  }